.bordure-fenetre {
	border: 0.063rem solid rgba(0, 0, 0, 0.125);
	border-left: none;
	border-top: none;
}

.bordure-titre {
	border-bottom: 0.063rem solid rgba(0, 0, 0, 0.125);
	color: rgba(0, 0, 0, 0.5);
}

.ps {
	height: 100%;
	right: 2px;
}
