<template>
	<div>
		<div class="row h-100 g-0">
			<div class="col-12 h-100">
				<ResultatTest
					:test="test"
					:resultat="resultat"
				/>
			</div>
		</div>
	</div>
</template>

<script src="./jeu_tests.js"></script>
<style src="./jeu_tests.css"></style>
