.bouton_langage{
    font-size: 1rem;
}

.thème_sombre li a,
.thème_sombre li button,
.thème_sombre li {
	color: #ffffff !important;
}

.thème_sombre .dropdown-item:hover {
	background-color: #999 !important;
}

.thème_sombre .diff.différent.ins,
.thème_sombre .diff.différent.del {
	background-color: transparent;
}

.dropdown-menu {
	border-radius: 0;
	margin-top: 0;
	border-color: #000000;
}

.dropdown-toggle {
	padding: 0.625rem;
}

.dropdown-toggle:hover,
.dropdown-toggle.show {
	background-color: #d3d3d3;
}

.thème_sombre .dropdown-toggle:hover,
.thème_sombre .dropdown-toggle.show {
	background-color: #999 !important;
}

.section-avancement {
	border: 0.063rem solid #d3d3d3;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -0.375rem;
	margin-left: -0.063rem;
	-webkit-border-radius: 0 0.375rem 0.375rem 0.375rem;
	-moz-border-radius: 0 0.375rem 0.375rem;
	border-radius: 0 0.375rem 0.375rem 0.375rem;
}

.dropdown-submenu>.dropdown-menu>.ps {
	max-height: 25rem;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 0.313rem 0 0.313rem 0.313rem;
	border-left-color: #ccc;
	margin-top: 0.313rem;
	margin-right: -0.625rem;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 0.625rem;
	-webkit-border-radius: 0.375rem 0 0.375rem 0.375rem;
	-moz-border-radius: 0.375rem 0 0.375rem 0.375rem;
	border-radius: 0.375rem 0 0.375rem 0.375rem;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.bouton_langage{
		font-size: 0.8rem;
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.bouton_langage{
		font-size: 0.9rem;
	}
}
