.test_réussi {
	background-color: #80cc8e;
}

.test_non_réussi {
	background-color: #cd5c5c;
}

.progress {
	height: 0.75rem;
	border-radius: 0;
}

.rétroaction-générale {
	position: absolute;
	top: 3rem;
	right: 1rem;
}
