.btn-reset {
	border-radius: 50%;
}

.gutter-non-editable {
	background:
		linear-gradient(
		to right,
		transparent 80%,
		rgba(127, 127, 127, 0.3) 80% 100%
	);
}

.ligne-non-editable {
	background: rgba(127, 127, 127, 0.05);
}

.ligne-cache {
	visibility: hidden;
}

.indicateur_sauvegarde {
	float: right;
	font-size: 1rem;
}

.non-sauvegardé {
	color: #ff0000;
}

.en-cours {
	color: #0000ff;
}

.sauvegardé {
	visibility: hidden;
}

.btn-thème {
	position: relative;
	top: -22px;
	z-index: 100;
}

.btn-xray {
	position: relative;
}

.CodeMirror {
	height: inherit;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.taille_texte {
		font-size: 0.7rem;
	}

	.CodeMirror-code {
		min-height: 53vh;
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 47.938rem) {
	.taille_texte {
		font-size: 0.7rem;
	}

	.CodeMirror-code {
		height: 53vh;
	}
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.taille_texte {
		font-size: 0.7rem;
	}

	.CodeMirror-line {
		max-width: 55vw ;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.taille_texte {
		font-size: 0.75rem;
	}

	.CodeMirror-line {
		max-width: 60vw ;
	}
}

/* ---------- 75rem et + (1200px et +) ---------------- */
@media (min-width: 75rem) {
	.taille_texte {
		font-size: 0.8rem;
	}

	.CodeMirror-line {
		max-width: 60vw ;
	}
}