.barBtn {
	color: rgba(13, 202, 240, 85%);
	font-size: 1.7rem;
	margin: 0.3rem;
	margin-right: 1.2rem;
}

.dropdown-menu[data-bs-popper] {
	top: 100%;
	left: initial !important;
	right: 0;
	width: 200px !important;
	margin-top: 1rem !important;
	background-color: #212529;
	transform-origin: top center;
	animation: translateY 500ms ease-in-out forwards;
}

.btnDMM:hover {
	border-left-color: #0082e6;
	border-right-color: #0082e6;
	background-color: rgb(0, 0, 0, 0.1);
}

.btnDMM {
	margin-left: -2px;
	border-left: solid transparent;
	border-right: solid transparent;
}

.text-info {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

.text-username {
	color: rgb(234, 229, 229);
	margin-left: auto;
	margin-right: 0.5rem;
}

.padding {
	padding-left: 0.5rem;
}

.icône-déconnexion {
	transform: scale(1.1);
	padding-right: 0.8rem !important;
	margin-left: -0.1rem !important;
}

.icône-thème {
	margin-right: 0.5rem;
	transform: scale(1);
	padding-right: 0.5rem !important;
	padding-bottom: 1rem;
}

.icône-trophée {
	padding-left: 0.5rem;
	padding-right: 0.1rem;
}

.icône-connexion {
	padding-right: 0.4rem !important;
}

.btn-connexion {
	margin-right: 0.5rem;
}

.btn-connexion:hover {
	border: 1px solid #555555;
}

.input-thème {
	margin-top: 1rem;
}

.loader-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 60%;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgba(13, 202, 240, 85%);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes translateY {
    0% {
	opacity: 0;
	transform: translateY(-40px);
    }

    80% {
	transform: translateY(0px);
    }

    100% {
	opacity: 1;
	transform: translateY(0px);
    }
}
/*----------------- Média Queries ----------------*/
/*------------Écrans 0 - 767px--------------------*/
@media screen and (max-width: 47.938rem) {
	.barBtn {
		transform: scale(0.75);
		margin-right: 0.5rem;
	}
	.text-username {
		transform: scale(0.75);
		margin-right: 0;
	}
	.btn-connexion {
		transform: scale(0.75);
		margin-right: 0rem;
	}
}
