.btn-valider {
	position: absolute;
	bottom: 0rem;
	right: 1rem;
	height: 5rem;
	width: 5rem;
	z-index: 2;
	fill: rgb(37, 177, 34);
}

.btn-valider:hover {
	transform: scale(1.05);
}

.spin {
	z-index: 100;
	position: absolute;
	height: 3.5rem;
	width: 3.5rem;
	bottom: 0.75rem;
	right: 1.75rem;
	border: 0.438rem solid #c6c6c6;
	border-radius: 50%;
	border-top-color: rgb(37, 177, 34);
	animation: spin 1s ease-in-out infinite;
	-webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
    .btn-valider {
		right: 1.5rem;
	}

	.spin {
		right: 2.25rem;
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 47.938rem) {
    .btn-valider {
		right: 1.5rem;
	}

	.spin {
		right: 2.25rem;
	}
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
    .btn-valider {
		right: 1.5rem;
	}

	.spin {
		right: 2.25rem;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
    .btn-valider {
		right: 1.75rem;
	}

	.spin {
		right: 2.5rem;
	}
}

/* ---------- 75rem et + (1200px et +) ---------------- */
@media (min-width: 75rem) {
    .btn-valider {
		right: 1.75rem;
	}

	.spin {
		right: 2.5rem;
	}
}