.sortie.vide {
	margin-top: -1.2rem;
	color: #808080;
}
.mode.diff {
	color: #000 !important;
}

.diff.visuel {
	color: #95959500;
}

.diff.visuel.enabled {
	color: #959595ff;
}

.diff.normal {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.ins {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.del {
	text-decoration: none;
	background-color: transparent;
}

.diff.différent.ins.enabled {
	color: #000000;
	background-color: #98fb98 !important;
}

.diff.différent.del.enabled {
	color: #000000;
	background-color: #ffb3b3 !important;
}

pre {
	margin: 0 !important;
}

.resultat-test {
	max-width: 50%;
	padding-bottom: 1rem;
}

.resultat-test pre {
	height: 100%;
	overflow: visible;
	overflow-y: visible;
	max-width: 100%;
}

.resultat-test pre p {
	height: inherit;
	white-space: break-spaces;
}

.espace-sélecteur {
	left: 1rem;
	top: 0.07rem;
}
.espace-titre-sortie-observée {
	margin-top: -2px;
}

.rétroaction-test {
	position: fixed;
	right: 1rem;
	z-index: 2;
}

.inputTest {
	margin-left: 5px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	resize: none;
}

.inputTest:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.thème_sombre .inputTest:hover {
	background-color: rgb(0, 0, 0, 0.3) !important;
}

.inputTest:focus {
	outline-color: rgb(13, 202, 240, 0.5) !important;
	outline-style: solid;
	background-color: rgb(0, 0, 0, 0.1) !important;
}

.thème_sombre .inputTest:focus {
	outline-color: rgb(13, 202, 240, 0.5) !important;
	outline-style: solid;
	background-color: rgb(0, 0, 0, 0.3) !important;
}

.boutonRafraichissement {
	padding-left: 0.5rem;
	font-size: 0.8rem;
	cursor: pointer;
}

.inputTest {
	margin-left: 5px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: none;
	cursor: pointer;
	resize: none;
}

.inputTest:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.thème_sombre .inputTest:hover {
	background-color: rgb(0, 0, 0, 0.3) !important;
}

.inputTest:focus {
	outline-color: rgb(13, 202, 240, 0.5) !important;
	outline-style: solid;
	background-color: rgb(0, 0, 0, 0.1) !important;
}

.thème_sombre .inputTest:focus {
	outline-color: rgb(13, 202, 240, 0.5) !important;
	outline-style: solid;
	background-color: rgb(0, 0, 0, 0.3) !important;
}

.boutonRafraichissement {
	padding-left: 0.5rem;
	font-size: 0.8rem;
	cursor: pointer;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.titre_résultat_test {
		font-size: 0.75rem;
	}

	.texte_résultat_test {
		font-size: 0.72rem;
	}

	.sortie.vide {
		margin-top: 0;
	}

	.espace-titre-sortie-observée {
		margin-bottom: -2px;
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.titre_résultat_test {
		font-size: 0.85rem;
	}
	.texte_résultat_test {
		font-size: 0.77rem;
	}
	.sortie.vide {
		margin-top: 0;
	}
	.espace-titre-sortie-observée {
		margin-bottom: -2px;
	}
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.titre_résultat_test {
		font-size: 1rem;
	}
	.texte_résultat_test {
		font-size: 0.77rem;
	}
	.sortie.vide {
		margin-top: 0;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.titre_résultat_test {
		font-size: 1.1rem;
	}
	.texte_résultat_test {
		font-size: 0.8rem;
	}
	.sortie.vide {
		margin-top: 0;
	}
}
