/*CSS pour le thème sombre*/
html,
body {
	height: 100%;
	max-height: 100%;
}

.contenu {
	height: 100%;
}

.thème_sombre,
.thème_sombre .dropdown-menu {
	background-color: #353535 !important;
	color: #e1e1e1 !important;
	border-color: #555555 !important;
}

.thème_sombre input {
	background-color: #353535 !important;
	color: #e1e1e1 !important;
}

.thème_sombre textarea {
	background-color: #353535 !important;
	color: #e1e1e1 !important;
}

input[type="checkbox"]:checked + .bi {
	fill: rgb(18, 169, 189);
}

input:focus {
	outline: none !important;
	border: none !important;
}

.topnav-right {
	float: right;
	margin-right: 5px;
}

.topnav-left {
	float: left;
}

.thème_sombre .btn-primary {
	background-color: #0dcaf0 !important;
}

.focus {
	color: #e1e1e1 !important;
}
