<template>
	<div class="section-rétroactions">
		<!-- eslint-disable -->
		<p
			class="card-text"
			v-html="resultats.feedback"
		/>
	<!-- eslint-enable -->
	</div>
</template>

<script src="./rétroactions.js"></script>
<style src="./rétroactions.css" scoped></style>