.accomplissementContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-height: 100%;
}

.accomplissementItem {
	margin: auto;
	border: solid rgba(220, 220, 220, 0.377);
	border-width: 0 5px 0 5px;
	border-radius: 5px;
	padding: 10px;
	max-width: 95%;
}

.thème_sombre .accomplissementItem {
	margin: auto;
	border: solid rgba(0, 0, 0, 0.3);
	border-width: 0 2px 0 2px;
	border-radius: 5px;
	padding: 10px;
	max-width: 95%;
}

h1 {
	text-align: center;
	font-weight: bolder;
}

.bordure_table {
	border: none;
}

.thème_sombre .bordure_table {
	border: none;
}

.text-info {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-info-rgb), var(--bs-text-opacity)) !important;
}

/*----------------- Média Queries ----------------*/
/*------------Écrans 0 - 991px--------------------*/
@media screen and (max-width: 61.938rem) {
	h1 {
		margin-top: 2rem;
	}
	.accomplissementItem {
		border-bottom: 5px solid rgba(220, 220, 220, 0.377);
		border-radius: 5px;
		border-left: none;
		border-right: none;
		padding-bottom: 2rem;
	}

	.thème_sombre .accomplissementItem {
		border-bottom: 3px solid rgba(0, 0, 0, 0.3);
		border-radius: 5px;
		border-left: none;
		border-right: none;
		padding-bottom: 2rem;
	}
}
