<html>
	<body>
		<table>
			{{#membres}}
			<tr>
				{{#score}}
				<td><a href="/question?uri={{query.uri}}&lang={{query.lang}}&tkres={{comment}}">{{name}}</a></td><td>{{resultScore}}</td>
				{{/score}}
				{{^score}}
				<td>{{name}}</a></td><td>{{resultScore}}</td>
			{{/score}}
			</tr>
			{{/membres}}
		</table>
	</body>
</html>
