.test.réussi {
	background-color: transparent;
	color: #008000;
}

.thème_sombre .test.réussi {
	background-color: transparent;
	color: #80cc8e;
}

.test.non_réussi {
	color: #b22222;
}

.thème_sombre .test.non_réussi {
	color: #cd5c5c;
}

.sélectionné {
	--path: 97% 0%, 100% 50%, 97% 100%, 0% 100%, 0% 0%;
	clip-path: polygon(var(--path));
	display: inline-grid;
	place-content: left;
	position: relative;
	z-index: 1;
}

.sélectionné:before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background: rgb(0, 0, 0, 33%);
}

.non_sélectionné {
	border: 2px solid #d3d3d3;
	display: inline-grid;
	place-content: left;
	position: relative;
	z-index: 0;
	width: 89%;
}

.thème_sombre .non_sélectionné {
	border: 1px solid #d3d3d3;
}

.visible {
	visibility: visible;
}

.test {
	margin-left: 0.7rem;
}

/* ------------------------------ Media Queries ---------------------------------*/
/* ---------------- 0 - 36rem (0 - 576px)  -----------------*/
@media (max-width: 36rem) {
	.sélectionné {
		--path: 92% 0%, 100% 50%, 92% 100%, 0% 100%, 0% 0%;
		clip-path: polygon(var(--path));
	}

	.non_sélectionné {
		width: 84%;
	}
}

/* --------------- 36rem - 48rem (576px - 768px)  -----------------*/
@media (min-width: 36rem) and (max-width: 48rem) {
	.sélectionné {
		--path: 95% 0%, 100% 50%, 95% 100%, 0% 100%, 0% 0%;
		clip-path: polygon(var(--path));
	}

	.non_sélectionné {
		width: 87%;
	}
}

/* ------------- 48rem - 62rem (768px - 992px) ---------------- */
@media (min-width: 48rem) and (max-width: 62rem) {
	.sélectionné {
		--path: 90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%;
		clip-path: polygon(var(--path));
	}

	.non_sélectionné {
		width: 82%;
	}
}

/* ---------- 62rem - 75rem (992px - 1200px) -------------- */
@media (min-width: 62rem) and (max-width: 75rem) {
	.sélectionné {
		--path: 96% 0%, 100% 50%, 96% 100%, 0% 100%, 0% 0%;
		clip-path: polygon(var(--path));
	}

	.non_sélectionné {
		width: 88%;
	}
}

/* ------------- Entre 768px et 865px (48rem - 54.063rem) ----------------- */
@media only screen and (max-width: 47.938rem) {
	.texte {
		font-size: 0.9rem;
	}
}
