h1 {
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 2rem;
	font-weight: bolder;
	text-transform: capitalize;
	letter-spacing: 1px;
	word-spacing: 2px;
	font-size: 2.2rem;
	text-shadow: 1px 1px 10px rgba(var(--bs-info-rgb), 0.5) !important;
}

.thème_sombre h1 {
	text-shadow: 1px 1px 10px rgba(209, 212, 0, 0.5) !important;
}

div {
	position: relative;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 0.5rem;
}

.thème_sombre td,
.thème_sombre th {
	color: #dddddd !important;
	border: 1px solid rgb(155, 155, 155, 0.3);
}

.lienQuestion:hover {
	background-color: rgb(0, 0, 0, 0.05) !important;
	cursor: pointer;
}

.thème_sombre .lienQuestion:hover {
	background-color: #202020 !important;
	cursor: pointer;
}

.tableau {
	background-color: #fdfdfd;
	color: #202020;
	margin-bottom: 2.5rem;
	font-family: Arial, Helvetica, sans-serif;
}

.thème_sombre .tableau {
	background-color: #313131;
	color: #202020;
}

.texte {
	color: #dddddd;
	border: none;
	font-size: 0.85rem !important;
}
.bordures {
	border: 2px solid rgb(155, 155, 155, 0.3);
}
.thème_sombre .bordures {
	border: 1px solid rgb(155, 155, 155, 0.3);
}

.bordureBas {
	border-bottom: 1px solid rgb(155, 155, 155, 0.3);
}

.trophée {
	color: var(--bs-body-color);
}

.thème_sombre .trophée {
	color: #e1e1e1;
}

/*----------------- Média Queries ----------------*/
/*------------Écrans 0 - 767px--------------------*/
@media screen and (max-width: 47.938rem) {
	td,
	th {
		font-size: 0.7rem !important;
	}

	.thème_sombre td,
	.thème_sombre th {
		color: #9b9b9b;
	}

	.texte {
		font-size: 0.75rem !important;
	}

	h1 {
		padding-top: 0rem;
	}
}

/*------------Écrans 768px - 992px--------------------*/
@media screen and (min-width: 48rem) and (max-width: 62rem) {
	td,
	th {
		font-size: 0.8rem !important;
	}

	.thème_sombre td,
	.thème_sombre th {
		color: #9b9b9b;
	}

	.texte {
		font-size: 0.85rem !important;
	}

	h1 {
		padding-top: 0rem;
	}
}
